div {
    align-content: center;
}

.WeatherCard {
    height: 30vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    width: 50% !important;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }